@import "animations";
@import "bootstrap-sprockets";
@import "bootstrap";

.label--required {
  &:after {
    content: ' *';
    color: red;
  }
}

.block--fadingIn {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}

.block--withMargins {
  margin: 25px;
}
