@import "animations";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "zoom";
@import "trix";

.label--required {
  &:after {
    content: ' *';
    color: red;
  }
}

.block--fadingIn {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}

.block--withMargins {
  margin: 25px;
}

.img--small {
  width: 48px;
}

.span--marginLeft {
  margin-left: 10px;
}
